#main_content {
	width: 900px;
	margin-left: auto;
    margin-right: auto;
}

table {
	border: none;
}

tr {
	border: none;
}

td {
	border: none;
	width: 200px;
	border-radius: 5px 5px 5px 5px;
	padding: 5px;
}

*:focus {
	outline: none;
}

.visible {
	visibility: visible;
}

.invisible {
	visibility: hidden;
}

.clickableHeader {
	cursor: pointer;
}

.headerColumn {
	/* height: 80px; */
}

.unknownRelationship {
	height: 80px;
	background-color: #EBDFDF;
	/*cursor: pointer;*/
}

.suspect {
	background-color: #EBD3D4; /* light redish grey */
	border: 1px solid #FFFFFF;
}


.victim {
	border: 4px solid #E00008; /*red */
	font-weight: bold;
}


.murderer {
	border: 4px solid #1C090A; /* redish black */
	font-weight: bold;
}

.married, .affair, .blackmail, .inheritance, .evading, .noneToReveal, .popUpDialog {
	border-radius: 10px;
}

.married {
	background-color: #E09FA1; /* neutral light reddish */
	color: #000000;
}


.affair {
	background-color: #D15458; /* light red-ish */
	color: #000000;
}


.blackmail {
	background-color: #423334; /* dark de-saturated red */
	color: #FFFFFF;
}


.inheritance {
	background-color: #822A2D; /* medium red */
	color: #FFFFFF;
}

.evading {
	background-color: #520003; /* deep red */
	color: #FFFFFF;
}

.noneToReveal {
	background-color: #B8B2B2; /* grey red */
	color: #FFFFFF;
}

.popUpDialog {
	border: none;
	cursor: pointer;
	padding: 5px;
}

/*colorbox hierarchy for reference */

/*#cboxOverlay {}

#colorbox {}

	#cboxWrapper {}
		
		<div>
			#cboxTopLeft {}
			
			#cboxTopCenter {}
			
			#cboxTopRight {}
		</div>
		
		<div clear left>
		#cboxMiddleLeft {}
		
		#cboxContent{}
		
			#cboxLoadedContent{}
			
			#cboxTitle{}
			
			#cboxCurrent{}
			
			#cboxPrevious{}
			
			#cboxNext{}
			
			#cboxSlideshow{}
			
			#cboxLoadingOverlay{}
			
			#cboxLoadingGraphic{}
			
			#cboxClose{}
			
		#cboxMiddleRight{}
		</div>
		<div clear left>
			#cboxBottomLeft{}
			
			#cboxBottomCenter{}
			
			#cboxBottomRight{}
		</div>*/
		
			
			
			
			
			
			
			
			
			
		
		
